.display
{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
    display: flex;
}
.point
{    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-image: url(./reward.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    animation:ani_Point 1s infinite linear;
}
h1
{
    
    letter-spacing: 0.5pc;
}
@keyframes ani_Point
{
    from
    {
        transform:rotate3d(0deg)
    }
    to
    {
        transform: rotate(360deg);
    }
    
}
